<h1>Listing providers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>User</th>
    <th>Location</th>
    <th>Clean</th>
    <th></th>
    <th></th>
  </tr>

  <%- @providers.each do |provider| %>
    <tr>
      <td><%= provider.id %></td>
      <td><%= provider.name %></td>
      <td><%= provider.description %></td>
      <td><%= provider.user_id %></td>
      <td><%= provider.url %></td>
      <td><%= provider.clean %></td>
      <td><%= link_to 'Show', provider %></td>
      <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
      <td><%= link_to 'Destroy', provider, :method => :delete %></td>
    </tr>
  <%- end %>
</table>

<br />

<%= link_to 'New Provider', new_provider_path %>
