<p id='notice'>notice</p>

<p>Name:
  <%= @provider.name %>
</p>
<p>Description:
  <%= @provider.description %>
</p>
<p>User:
  <%= @provider.user_id %>
</p>
<p>Location:
  <%= @provider.url %>
</p>
<p>Provider String ID:
  <%= @provider.string_id %>
</p>
<p>About Page
  <%= @provider.about %>
</p>
<p>Clean:
  <%= @provider.clean %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %>
<%= link_to 'Back', providers_path %>
