<h1>Listing categorizations</h1>

<table>
  <tr>
    <th>Knowledge</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categorizations.each do |categorization| %>
  <tr>
    <td><%= categorization.knowledge_id %></td>
    <td><%= categorization.category_id %></td>
    <td><%= link_to 'Show', categorization %></td>
    <td><%= link_to 'Edit', edit_categorization_path(categorization) %></td>
    <td><%= link_to 'Destroy', categorization, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Categorization', new_categorization_path %>
