<nav>
  <ul>
    <li><%= link_to "Blog", "http://www.495west.com" %></li>
    <li><%= link_to "The Truth About Law School", "http://www.thetruthaboutlawschool.com" %></li>
    <li><%= link_to "github", "https://github.com/tarantism" %>
    <li><%= link_to "Linkedin", "http://www.linkedin.com/pub/jared-cohen/1b/673/503" %>
    <li><%= link_to "@ItsJaredC on Twitter", "http://twitter.com/#!/itsjaredc" %>
    <li></li>
  </ul>
</nav>

<%= link_to "Providers", providers_path %>


<%= form_tag(admin_sec_add_form_d_path, :method => :get) do %>
  = label_tag :url, "Form D Url"
  = text_field_tag :url
  = label_tag :organization_id, "Organization ID"
  = text_field_tag :organization_id
  = submit_tag 'Submit Form D'
<%- end %>
