<div class="field">
  <%= f.label :knowledge_id %><br />
  <%= f.text_field :knowledge_id %>
</div>
<div class="field">
  <%= f.label :lesson_plantation_id %><br />
  <%= f.text_field :lesson_plantation_id %>
</div>
<div class="field">
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :notes %><br />
  <%= f.text_area :notes %>
</div>