<div class="field">
  <%= f.label :user_id %><br />
  <%= f.text_field :user_id %>
</div>
<div class="field">
  <%= f.label :knowledge_id %><br />
  <%= f.text_field :knowledge_id %>
</div>
<div class="field">
  <%= f.label :user_knowledge_state_id %><br />
  <%= f.number_field :user_knowledge_state_id %>
</div>
<div class="field">
  <%= f.label :position %><br />
  <%= f.number_field :position %>
</div>
<div class="actions">
  <%= f.submit 'Create State' %>
</div>