<div class='field'>
  <%= f.label :title, 'Knowledge Title' %>
  <%= f.text_field :title %>
</div>
<div class='field'>
  <%= f.label :url, 'Knowledge Location' %>
  <%= f.text_field :url %>
</div>
<div class='field'>
  <%= f.label :string_id, 'Knowledge String ID' %>
  <%= f.text_field :string_id %>
</div>
<div class='field'>
  <%= f.label :description, 'Knowledge Description' %>
  <%= f.text_area :description, :size => '35x6' %>
</div>
<div class='field'>
  <%= f.label :keywords, 'Knowledge Keywords' %>
  <%= f.text_area :keywords, :size => '35x6' %>
</div>
<div class='field'>
  <%= f.label :knowledge_kind %>
  <%= f.select :knowledge_kind, Knowledge.knowledge_kinds, :include_blank => true %>
</div>
<div class='field'>
  <%= f.label :medium %>
  <%= f.select :medium, Knowledge.media, :include_blank => true %>
</div>
<div class='field'>
  <%= f.label :level %>
  <%= f.select :level, Knowledge.levels, :include_blank => true %>
</div>
<div class='field'>
  <%= f.label :free %>
  <%= f.check_box :free %>
</div>
<div class='field'>
  <%= f.label :clean %>
  <%= f.check_box :clean %>
</div>
