<div class='field'>
  <%= f.label :title, 'Knowledge Title' %>
  <%= f.text_field :title %>
</div>
<div class='field'>
  <%= f.label :url, 'Knowledge Location' %>
  <%= f.text_field :url %>
</div>
<div class='field'>
  <%= f.label :description, 'Knowledge Description' %>
  <%= f.text_area :description, :size => '35x6' %>
</div>
<%= f.hidden_field :user_id, :value => '1' %>
