%h1 Listing knowledges

%table
  %tr
    %th Title
    %th Url
    %th Description
    %th User
    %th Kind
    %th Free
    %th
    %th
    %th

  - @knowledges.each do |knowledge|
    %tr
      %td= knowledge.title
      %td= knowledge.url
      %td= knowledge.description
      %td= knowledge.user_id
      %td= knowledge.kind
      %td= knowledge.free
      %td= link_to 'Show', knowledge
      %td= link_to 'Edit', edit_knowledge_path(knowledge)
      %td= link_to 'Destroy', knowledge, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Knowledge', new_knowledge_path
