<h1>New knowledge</h1>

<%= form_for @knowledge do |f| %>
  <%= render 'knowledges/form', :f => f %>

  <%= f.fields_for :providers do |builder| %>
    <%= render 'providers/form', :f => builder %>
  <%- end %>

  <div class='actions'>
    <%= f.submit 'Save' %>
  </div>

<%- end %>

<%= link_to 'Back', knowledges_path %>
