<%= form_for(@log) do |f| %>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :knowledge_id %><br />
    <%= f.number_field :knowledge_id %>
  </div>
  <div class="field">
    <%= f.label :lesson_plantation_id %><br />
    <%= f.number_field :lesson_plantation_id %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :review %><br />
    <%= f.text_area :review, :size => '30x5' %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
