<p><%= link_to "Take Me Home", :root %></p>
<p><%= link_to "List Knowledges", knowledges_path %></p>
<p><%= link_to "List Providers", providers_path %></p>
<p><%= link_to "List Tags", categories_path %></p>
<p><%= link_to "knowledges list", list_path %></p>
<p><%= link_to "Lesson Plantations list", lesson_plantations_path %></p>
<p><%= p params %></p>
