<!doctype html>
<html>
<head>
    <title>Seedtap</title>
    <meta content="Curated education tutorials syllabus lesson plans for teaching oneself self-taught" name="description" />
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  <body id="<%= params[:controller].parameterize %>_controller">

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

    <nav class='top_menu'>
      <ul>
        <li><%= link_to "home", :root %></li>
        <li><%= link_to "my log and to-do", me_path %></li>
        <li><%= link_to "add a lesson plan", new_lesson_plantation_path %></li>
        <li><%= link_to "add a source", home_index_path %></li>
        <li>
          <% if current_user %>
            <%= link_to "log out", log_out_path %>
          <% else %>
            <%= link_to "log in or sign up", sign_up_path %>
          <% end %>
        </li>
      </ul>
    </nav>

    <%= yield %>

  </body>
</html>