<!doctype html>
<html>
<head>
    <title>ItsJaredC</title>
    <meta content="The Truth About Law School helps people decide whether they should go to law school by educating them about law school and being a lawyer. Should I Go To Law School? Law school advice. Apply to Law School" name="description" />
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  <body id="<%= params[:controller].parameterize %>_controller"
    #railscasts268, for scoping css >
    <%= p params %>
    <%= yield %>

  </body>
</html>